AUTHJS_TOKEN='secret-token-for-auth-adapters'
AUTH_SECRET='secret-token-for-authjs'
DATABASE_URL='file:database.local.sqlite'
DOMAIN='http://localhost:5173'
TURSO_API_TOKEN=''
MAILTRAP_API_TOKEN=''
TURNSTILE_SECRET_KEY=''
PUBLIC_TURNSTILE_SITE_KEY=''
GITHUB_TOKEN=''
